**/.git
**/.cache
*Dockerfile*
# **/.env

# Python
**/__pycache__
*.pyc
*.pyo
*.pyd
*,cover
*.
*.db
*.sqlite3
.DS_Store
.git*

# Node
**/.results
**/node_modules

./static
./images
# Ignore development create_llama code
# ./create_llama/
./storage/
# ./static/
./data/
.venv
.vscode/
.changeset
.github

# Deployment files
./Dockerfile

# Do not ignore template config files
# !config/*
