<!DOCTYPE html>
<html>
<head>
    <title>Account Verification</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Your verification code is: <strong>{{ code }}</strong></p>
    <p>This code will expire in {{ expiry_minutes }} minutes.</p>
    <p>You can also verify your account directly by clicking the link below:</p>
    <p><a href="http://localhost:3000/auth/verify?uid={{ uid }}&otp={{ code }}&verification_type={{ verification_type }}">Verify Account</a></p>
    <p>If you did not request this verification, please ignore this email.</p>
    
    <!-- <div>
        <image src="" width="80" height="80" />
    </div> -->
</body>
</html>
